[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.22.0"
urllib3 = "==1.25.4"
xlsxwriter = "==3.1.2"

[dev-packages]
boto3 = "*"
botocore = "*"
pylint = "*"

[requires]
python_version = "3.9"
